# Dependencies
node_modules/

# Build output
dist/

# Testing
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
tests/fixtures/hl7.fhir.r4.core#4.0.1
tests/fixtures/hl7.terminology.r4*
tests/fixtures/hl7.fhir.uv.extensions.r4*
tests/fixtures/fume.test.pkg#0.1.0/package/.fpi.index.json
tests/fixtures/.*
